* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 1200px;
    margin-left: 130px;
    margin-right: -100px;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 7%;
    background-color:  #6499E9;
    border-bottom: 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-decoration: none;
}

.navbar .navbar-logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.header .logo span {
    color:  #6499E9;
    text-decoration: none;
}
.navbar .navbar-nav{
    float: right;
    margin-left: 800px;
}
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.9);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.6;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}
#hamburger-menu {
    display: none;
}


/* Media Queries */

/* Laptop */
@media(max-width:1366px) {
    html{
        font-size: 80%;
    }
}

/* Tablet */
@media(max-width:768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

}
.navbar .navbar-nav a::after{
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after{
    transform: scaleX(0.2);
  }
}

/* Mobile Phone */
@media(max-width:450px) {
    html {
        font-size: 55%;
    }
}

.header h1{
    margin-top: 100px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.header p{
    padding: 30px;
    margin-bottom: -25px;
    align-items: justify;
}
.images img{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 230px;
    border-radius: 10px;
}
footer{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
}